/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #CCCCCC; /*B8B8B8*/
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
	text-align: center;
	color: #000;
}

article h3 {
	text-align: center;
	color: #000;
	font-size: 35px;
}

/* pour le logo */
.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 250px; 
  height: auto;
}
/* pour le thème */

.img_theme {
	max-width: 70px; 
	height: auto;
}

/* Styles pour l'en-tête */

header {
	align-items: center;
	background-color: #333;
	padding: 20px 40px; /* Ajout de padding à gauche et à droite */
	margin: 20px 20px;
	border-radius: 10px; /* Arrondir les bords */
}

/* Styles pour le titre */
header h1 {
    font-size: 50px;
	color: #fff;
    margin-bottom: 10px; /* Espace entre le titre et la barre de navigation */
	text-align: center; /* Pour centrer horizontalement */
}

/* Styles pour la barre de navigation */
nav {
    text-align: center; /* Pour centrer horizontalement */
}

nav ul {
    list-style-type: none;
    margin: 0 auto; /* Pour centrer horizontalement */
    padding: 0;
    display: inline-block; /* Pour que la barre de navigation prenne seulement la largeur nécessaire */
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
	font-size: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a span {
    padding: 10px 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

nav a span::after {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(163, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

nav a:hover span::after {
    width: 100%;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*form */


.search-form {
    display: flex;
}

.search-box {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    outline: none;
	font-size: 18px; /* Augmentez la taille de la police */
	width: 500px; /* Augmentez la largeur de la barre de recherche */
	align-items: center;
}

.search-box::placeholder {
    color: #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(200, 0, 0);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(163, 0, 0);
}


/* Styles pour la section principale */
.main-content {
    padding: 20px;
}

.background-image {
    background-image: url('chemin/vers/votre/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Couleur de fond claire */
}

th, td {
    border: 1px solid #ccc; /* Bordures légères */
    padding: 8px; /* Espacement interne */
    text-align: left; /* Alignement du texte à gauche */
	font-size: 30px;
}

th {
    background-color: #f2f2f2; /* Couleur de fond légèrement plus foncée pour les en-têtes */
}

.centered-form {
    width: 25%; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Cela centre le formulaire horizontalement */
}

article {
    margin: 0 auto; /* Centrage de l'article */
    padding: 20px; /* Espacement interne */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
	padding: 20px 40px; /* Ajout de padding à gauche et à droite */
	margin: 20px 20px;
	border-radius: 10px; /* Arrondir les bords */
}

article h1 {
	text-align: center;
	font-size: 50px;
}

article h2 {
    font-size: 40px; /* Taille de police pour les titres d'article */
    margin-bottom: 10px; /* Espacement en bas des titres d'article */
	text-align: center;
}

article p {
    font-size: 30px; /* Taille de police pour le contenu des articles */
    line-height: 1.5; /* Hauteur de ligne pour une meilleure lisibilité */
}

.special-img {
    width: 1000px; /* Pour que l'image ne dépasse pas la largeur de la fenêtre */
    max-height: 1000px; /* Pour que l'image ne dépasse pas la hauteur de la fenêtre */
    margin-bottom: 20px; /* Espacement en bas des images */
	display: block;  /* Pour supprimer l'espace réservé autour de l'image */
    margin: 0 auto; /* Mettre les marges gauche et droite à 'auto' centre l'image horizontalement */
}

article a {
	text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
	font-size: 25px;
}

article a span {
    padding: 10px 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

article a span::after {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(163, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

article a:hover span::after {
    width: 100%;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Styles pour les pieds de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
	padding: 20px 40px; /* Ajout de padding à gauche et à droite */
	margin: 20px 20px;
	border-radius: 10px; /* Arrondir les bords */
	font-size: 30px;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:visited {
    color: white; 
}